@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  font-family: "Raleway", sans-serif;
  border-bottom: 1px solid #212121;
}

nav {
  height: 60px;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-head {
  display: flex;
  align-items: center;
}

.logo img {
  width: 150px;
  height: 50px;
  object-fit: cover;
}
.link-head {
  display: flex;
  align-items: center;
  gap: 20px;
}
.link-head a {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #212121;
}
