@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #ccc;
}
ul {
  list-style: none;
}
body {
  font-family: "Noto Sans", sans-serif;
  min-width: 960px;
}
header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 50px;
  /* line-height: 50px; */
  z-index: 1;
  padding: 0 40px;
  box-sizing: border-box;
}
header nav {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
header nav ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: -1px;
}
header nav ul li a {
  color: #00a0ff;
  display: block;
  font-size: 20px;
  font-weight: 600;
}

.f-page {
  position: relative;
  background-image: url(../img/all-4\ 1.jpg);
  background-size: cover;
  background-position: center;
  /* overflow: hidden; */
  /* position: absolute; */
  width: 100%;
  height: 100vh;
  /* left: 0px;
  top: 0px; */
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .f-page::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
} */
.f-page h1 {
  position: relative;
  z-index: 1;
  width: 100%;
  text-align: center;
  color: #00a0ff;
  font-size: clamp(36px, 6vw, 96px);
  letter-spacing: -4px;
  transform: translate(50% 50%);
  overflow: hidden;
}
.f-page .m-side {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.f-page .m-side h2 {
  width: 100%;
  text-align: center;
  color: #00a0ff;
  font-size: clamp(300px, 31vw, 600px);
  font-weight: 200;
  align-items: center;
}

.news {
  width: 85%;
  padding: 0 40px 100px;
  margin: 50px auto;
  box-sizing: border-box;
}
.news h4 {
  font-size: 40px;
  letter-spacing: -2px;
  color: #00a0ff;
}
.news .con {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.news .con .left li {
  width: 765px;
  line-height: 80px;
  border-top: 1px solid #003cff3e;
}
.news .con .left li:last-child {
  border-bottom: 1px solid #003cff3e;
}

.news .con .left .txt {
  display: flex;
  color: #00a0ff;
  position: relative;
}
.news .con .left .desc {
  height: 0;
  overflow: hidden;
  transition: 0.5s;
}
.news .con .left .txt h5 {
  font-size: 43px;
  letter-spacing: -4.2px;
  font-weight: 550;
}
.news .con .left .txt span {
  font-size: 20px;
  margin-left: 15px;
  letter-spacing: -1px;
  font-weight: 300;
}
.desc {
  color: #00a0ff;
  letter-spacing: -1px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8;
  margin-bottom: 10px;
  transition: 0.5s;
}

.news .con .left li:hover .desc {
  height: 80px;
}

.news .con .left .txt i::before {
  transform: rotate(-45deg);
  align-items: center;
  text-align: center;
  position: absolute;
  color: 00a0ff;
  font-size: 40px;
  padding-top: 20px;
  right: 10px;
}
.news .con ul:last-child {
  position: relative;
  width: 385px;
}
.news .con ul:last-child li {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  opacity: 0;
}
.news .con ul:last-child p {
  width: 100%;
  margin: 0 0 0 auto;
  color: #00a0ff;
  letter-spacing: -1.5px;
}
.news .con img {
  width: 100%;
  object-fit: cover;
}
.right li .txt :nth-child(2) {
  text-align: right;
}

@media screen and(max-width: 1024px) {
  .news {
    padding: 0 20px 60px;
  }

  .news .con {
    flex-direction: column;
    gap: 30px;
  }

  .news .con .left,
  .news .con ul.right {
    width: 100%;
  }

  .news .con .left li {
    width: 100%;
  }
}

.about {
  width: 100%;
  padding: 100px 40px 100px;
  margin: 50px 0;
  box-sizing: border-box;
}

.ab-txt {
  display: flex;
  flex: 1;
}
.ab-txt span {
  display: block;
  font-size: 15px;
  letter-spacing: -1px;
  margin: 0 0 0 auto;
  color: #00a0ff;
}
.ab-txt h4 {
  font-size: 34px;
  letter-spacing: -2px;
  color: #00a0ff;
  text-align: right;
}

.about ul {
  width: 100%;
  margin-top: 50px;
  display: flex;
  gap: 40px;
}

.about ul li {
  flex: 1 1 0;
  min-width: 0;
  position: relative;
}

.about ul li p {
  object-fit: cover;
  color: #00a0ff;
  font-size: 15px;
  letter-spacing: -1px;
}
.about ul li p img {
  width: 100%;
  object-fit: cover;
}

.about ul li:nth-child(3) {
  flex: 1.45 1 0; /* third card spans more width */
  margin-left: 300px;
}
.about_3 {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  gap: 60px;
}
.new-item h3 {
  font-size: 40px;
  letter-spacing: -3px;
  color: #f2f2f2;
}
.new-item h4 {
  font-size: 34px;
  letter-spacing: -3px;
  color: #00a0ff;
  padding: 20px;
}
.new-item ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 50px;
  justify-content: center;
}
.new-item ul li {
  gap: 60px;
}
.new-item ul li p:nth-child(1) {
  width: 600px;
  height: 600px;
  padding: 60px 60px;
  aspect-ratio: 1 / 1;
  box-sizing: border-box;
}
.new-item ul li p:nth-child(1) img {
  width: 90%;
  height: 90%;
  object-fit: contain;
  align-items: center;
  display: block;
  margin: 0 auto;
  justify-content: center;
}
.new-item p {
  font-size: 20px;
  letter-spacing: -1.5px;
  font-weight: bold;
  color: #00a0ff;
  text-align: center;
}
.more {
  background-image: url(../img/blue-banner.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  margin-top: 200px;
  margin-bottom: 200px;
}
.more h3 {
  font-size: 30px;
  letter-spacing: -1px;
  color: #f2f2f2;
  font-weight: 400;
}

.bau_txt {
  display: flex;
  flex: 1;
  padding: 20px;
  justify-content: center;
  word-break: keep-all;
}
.bau_txt span {
  display: block;
  font-size: 15px;
  letter-spacing: -1px;
  margin: 0 0 auto 0;
  color: #00a0ff;
}
.bau_txt h4 {
  font-size: 30px;
  letter-spacing: -2px;
  color: #00a0ff;
  box-sizing: border-box;
  width: 77%;
  margin: 0 0 auto 0;
  text-align: left;
}
.ani-wrap {
  width: 100%;
  overflow: hidden;
  padding: 120px 0;
}
.ani {
  display: flex;
}

.ani li {
  flex: 0 0 calc(100% / 3);
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  height: 600px;
}

.ani li::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  height: 95%;
  background: url(../img/new_products/hover.png) no-repeat center / contain;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.ani li.active::after {
  opacity: 1;
}

.ani li p {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  border-top: 1px solid #7fd1ae;
  border-bottom: 1px solid #7fd1ae;
  border-right: 1px solid #7fd1ae;
}

.ani li img {
  max-width: 67%;
  max-height: 67%;
  object-fit: contain;
  display: block;
}

.best {
  position: relative;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100%;
  margin-bottom: 200px;
}

.best h4 {
  font-size: 34px;
  letter-spacing: -3px;
  color: #00a0ff;
  padding: 20px 20px;
  box-sizing: border-box;
}
.best .slide_img {
  background-image: url(../img/item-bg2.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 80vh;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.slider_inner {
  position: relative;
  display: flex;
  column-gap: 300px;
  align-items: center;
  transition: transform 0.6s ease;
}

.s-img {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 0 0 400px;
  transition: transform 0.6s ease, opacity 0.6s ease;
  position: relative;
}
.s-img::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, var(--overlay, 0));
  pointer-events: none;
  transition: background 0.6s ease;
}

.s-img p {
  width: 400px;
  margin: 0 auto;
}
.s-img p img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.slider_btn a {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 70px;
  height: 70px;
  text-align: center;
  border-radius: 50%;
  transition: all 0.3s;
  color: #00a0ff;
}
.slider_btn a:hover {
  color: #ffffff;
}
.slider_btn a.prev {
  left: 1%;
}
.slider_btn a.next {
  right: 1%;
}
.slider_btn a i {
  font-size: 70px;
}
.slider_dot {
  position: absolute;
  left: 50%;
  bottom: 3px;
  transform: translateX(-50%);
}
.slider_dot .dot {
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  display: inline-block;
  border-radius: 50%;
  text-indent: -9999px;
  transition: all 0.3s;
  margin: 3px;
}
.slider_dot .dot.active {
  background-color: #fff;
}

.article {
  width: 100%;
  padding: 0 40px 100px;
  margin: 50px 0;
  box-sizing: border-box;
}
.article h4 {
  font-size: 40px;
  letter-spacing: -2px;
  color: #00a0ff;
}

.article ul {
  width: 100%;
  margin-top: 15px;
}
.article ul li {
  border-top: 1px solid #003cff3e;
  padding-top: 10px;
}
.article ul li:last-child {
  border-bottom: 1px solid #003cff3e;
}
.article ul li a {
  color: #00a0ff;
}
.txt-a {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.txt-a p {
  font-size: 15px;
  letter-spacing: -1px;
  margin: 0 0 auto 0;
}
.a-title h5 {
  margin-bottom: 4px;
  font-size: 30px;
  letter-spacing: -2px;
}
.a-title span {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -1px;
}
.txt-a span:nth-child(3) {
  display: block;
  font-size: 15px;
  margin: auto 0;
  letter-spacing: -1px;
}
.sns {
  width: 100%;
  padding: 0 40px 100px;
  margin: 50px 0;
  box-sizing: border-box;
}
.sns h4 {
  font-size: 40px;
  letter-spacing: -2px;
  color: #003cff;
}

.sns ul {
  display: flex;
  width: 100%;
  gap: 10px;
}
.sns ul li {
  width: 25%;
}
.sns ul li p {
  width: 100%;
  overflow: hidden;
}

.sns ul li p img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

footer .logo {
  width: 100%;
  margin: 50px 0;
  box-sizing: border-box;
}
.logo p {
  width: 100%;
  height: 100%;
  object-fit: cover;

  box-sizing: border-box;
}
.logo p img {
  max-width: 1620px;
  width: 100%;
  display: block;
  object-fit: cover;
}

footer {
  width: 100%;
  box-sizing: border-box;
}
.b-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  border-top: 1px solid #003cff8c;
  font-size: 15px;
  letter-spacing: -1px;
  color: #003cff;
  flex-wrap: wrap;
}

.b-footer-left {
  display: flex;
  align-items: center;
  gap: 120px;
}
/* .b-footer-left .add,
.b-footer-left .top {
  margin-right: 170px; 
} */
.top a {
  color: #003cff;
}
/* .b-footer-left .add {
  margin-right: 240px;
} */

.b-footer-right {
  display: flex;
  align-items: center;
  gap: 140px;
}
/* .b-footer-right p {
  margin-left: 180px;
} */
