@charset "utf-8";
@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Pretendard';
}
ul{
  list-style: none;
}
a{
    text-decoration: none;
    color: #212121;
}
nav{width: 100%;
    }
.logo-head{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.logo{
width: 75px;
}
.main-logo{
    width: 75px;
}
.logo img{
width: 75px;
object-fit: contain;
}
.main-logo{
 width: 75px;
}
.main-logo p img{
     width: 75px;
    object-fit: contain;
}
.select-head{
    display: flex;
    gap: 25px;
}
.time{
    display: flex;
    gap: 10px;
}
.lang{
    display: flex;
     gap: 10px;
    }

.lang p:first-child{
padding-right: 10px;
border-right:1px solid #212121 ;
     }
.link-head{
    display: flex;
    justify-content: space-around;
}

.link {
    position: relative;
    display: flex;
    justify-content: space-between;
}
.link li a{
    display: block;
    padding: 10px;
}

.link-head li ul{
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    width: 100%;
    display: none;
}
.link-head li:hover ul{
    display: block;

}